<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Project 
			xmlns="http://www.deegree.org/project" 
			xmlns:ns2="http://www.deegree.org/coremapmodel" 
			xmlns:ns3="http://www.w3.org/1999/xlink" 
			xmlns:ns4="http://www.deegree.org/settings" 
			xmlns:ns5="http://www.deegree.org/jdbc" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xsi:schemaLocation="http://www.deegree.org/project ../../../resources/META-INF/schemas/igeodesktop/0.4.3/project.xsd">
	<name>TestProject</name>
	<ns2:identifier>
		<ns2:value>TP1</ns2:value>
	</ns2:identifier>
	<View hasFooter="true">
		<ViewForm>
			<FrameViewForm resizeable="true">
				<containerClass viewPlatform="Application">
					org.deegree.desktop.views.map.DefaultMapFrame
                </containerClass>
				<containerClass viewPlatform="Portlet">org.deegree.client.portlet.DeegreeJSP
				</containerClass>
				<ComponentState modal="false" active="true">
					<windowState>normal</windowState>
				</ComponentState>
				<frameTitle>$FVF1.FrameTitle</frameTitle>
			</FrameViewForm>
			<Layout>
				<SplittedLayout vertical="false"/>
			</Layout>
		</ViewForm>
		<SupportedViewPlatform>Application</SupportedViewPlatform>
		<Window width="950" height="665" top="17" left="162"/>
		<!--  -->
		<ModuleRegister>
			<SplitterPosition>
				<splitterPosition>right</splitterPosition>
			</SplitterPosition>
			<ModuleReference>
				<ns2:OnlineResource ns3:href="./map_module_paneview.mdx"/>
			</ModuleReference>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="600" height="500" top="50" left="650"/>
			</AbsolutePosition>
			<ModuleReference>
				<ns2:OnlineResource ns3:href="./analysis_module.mdx"/>
			</ModuleReference>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="600" height="500" top="50" left="650"/>
			</AbsolutePosition>
			<ModuleReference>
				<ns2:OnlineResource ns3:href="./copypaste_module.mdx"/>
			</ModuleReference>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="600" height="500" top="50" left="650"/>
			</AbsolutePosition>
			<ModuleReference>
				<ns2:OnlineResource ns3:href="./external_program.mdx"/>
			</ModuleReference>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="600" height="500" top="50" left="650"/>
			</AbsolutePosition>
			<ModuleReference>
				<ns2:OnlineResource ns3:href="./exif_module.mdx"/>
			</ModuleReference>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="520" height="250" top="150" left="270"/>
			</AbsolutePosition>
			<Module>
				<name>Buffer</name>
				<ns2:identifier>
					<ns2:value>Buffer</ns2:value>
				</ns2:identifier>
				<className>org.deegree.desktop.modules.geoprocessing.BufferModule</className>
				<ViewForm>
					<FrameViewForm resizeable="false">
						<containerClass viewPlatform="Application">org.deegree.desktop.views.swing.geoprocessing.ExtendedBufferDialog</containerClass>
						<ComponentState modal="false" active="true">
							<windowState>closed</windowState>
						</ComponentState>
						<frameTitle>$F74.FrameTitle</frameTitle>
					</FrameViewForm>
					<Layout>
						<NoneLayout/>
					</Layout>
				</ViewForm>
				<Menu>
					<ns2:identifier>
						<ns2:value>BufferMB</ns2:value>
					</ns2:identifier>
					<parent>
						<ns2:value>MB1tools</ns2:value>
					</parent>
					<name/>
					<MenuItem>
						<name>$BufferMB.name</name>
						<assignedAction>open</assignedAction>
						<icon ns3:href="../icons/s_buffer.png"/>
					</MenuItem>
				</Menu>
				<ns4:HelpContext>
					<ns4:page mainPage="true">
						<ns2:OnlineResource ns3:href="./help/buffer/geoprocessing_buffer.de.html"/>
						<ns4:keyword>Geoprocessing: Buffer berechnen</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
			</Module>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="849" height="565" top="150" left="270"/>
			</AbsolutePosition>
			<Module>
				<name>WPSClient</name>
				<ns2:identifier>
					<ns2:value>WPSClient</ns2:value>
				</ns2:identifier>
				<className>org.deegree.desktop.modules.geoprocessing.WPSClientModule</className>
				<ViewForm>
					<FrameViewForm resizeable="false">
						<containerClass viewPlatform="Application">org.deegree.desktop.views.swing.geoprocessing.wpsclient.ExtendedBufferDialog</containerClass>
						<ComponentState modal="false" active="true">
							<windowState>closed</windowState>
						</ComponentState>
						<frameTitle>$F74.FrameTitle</frameTitle>
					</FrameViewForm>
					<Layout>
						<NoneLayout/>
					</Layout>
				</ViewForm>
				<Menu>
					<ns2:identifier>
						<ns2:value>WPSMB</ns2:value>
					</ns2:identifier>
					<parent>
						<ns2:value>MB1tools</ns2:value>
					</parent>
					<name/>
					<MenuItem>
						<name>$WPSClient.name</name>
						<assignedAction>open</assignedAction>
						<icon ns3:href="../icons/s_wps_buffer.png"/>
					</MenuItem>
				</Menu>
				<ns4:HelpContext>
					<ns4:page mainPage="true">
						<ns2:OnlineResource ns3:href="./help/wpsclient/geoprocessing_wps.de.html"/>
						<ns4:keyword>Geoprocessing: WPS Buffer berechnen</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
				<init-param>
					<name>http://demo.deegree.org/deegree-wps/services</name>
					<value>Buffer:org.deegree.desktop.views.swing.geoprocessing.wpsclient.BufferPanel</value>
				</init-param>
				<init-param>
					<name>Buffer@http://demo.deegree.org/deegree-wps/services</name>
					<value>org.deegree.desktop.commands.geoprocessing.WPSBufferCommand</value>
				</init-param>
			</Module>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="520" height="250" top="150" left="270"/>
			</AbsolutePosition>
			<Module>
				<name>Intersection</name>
				<ns2:identifier>
					<ns2:value>Intersection</ns2:value>
				</ns2:identifier>
				<className>org.deegree.desktop.modules.geoprocessing.IntersectionModule</className>
				<ViewForm>
					<FrameViewForm resizeable="false">
						<containerClass viewPlatform="Application">org.deegree.desktop.views.swing.geoprocessing.ExtendedIntersectionDialog</containerClass>
						<ComponentState modal="false" active="true">
							<windowState>closed</windowState>
						</ComponentState>
						<frameTitle>$F74.Intersection</frameTitle>
					</FrameViewForm>
					<Layout>
						<NoneLayout/>
					</Layout>
				</ViewForm>
				<Menu>
					<ns2:identifier>
						<ns2:value>IntersectionMB</ns2:value>
					</ns2:identifier>
					<parent>
						<ns2:value>MB1tools</ns2:value>
					</parent>
					<name/>
					<MenuItem>
						<name>$Intersection.name</name>
						<assignedAction>open</assignedAction>
						<icon ns3:href="../icons/s_intersection.png"/>
					</MenuItem>
				</Menu>
				<ns4:HelpContext>
					<ns4:page mainPage="true">
						<ns2:OnlineResource ns3:href="./help/intersection/geoprocessing_intersection.de.html"/>
						<ns4:keyword>Geoprocessing: Verschneidung berechnen</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
			</Module>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="388" height="504" top="185" left="351"/>
			</AbsolutePosition>
			<Module>
				<name>Bookmark</name>
				<ns2:identifier>
					<ns2:value>BookmarkId</ns2:value>
				</ns2:identifier>
				<className>org.deegree.desktop.modules.bookmarks.BookmarkModule</className>
				<ViewForm>
					<FrameViewForm resizeable="true">
						<containerClass viewPlatform="Application">
							org.deegree.desktop.views.swing.bookmark.BookmarkFrame
                        </containerClass>
						<ComponentState modal="false" active="false">
							<windowState>closed</windowState>
						</ComponentState>
						<frameTitle>$Bookmark.FrameTitle</frameTitle>
					</FrameViewForm>
					<Layout>
						<NoneLayout/>
					</Layout>
				</ViewForm>
				<ToolBarEntry>
					<ns2:identifier>
						<ns2:value>Bookmark_Open_TB</ns2:value>
					</ns2:identifier>
					<name/>
					<tooltip>$Bookmark.open.tooltip</tooltip>
					<assignedAction>open</assignedAction>
					<icon ns3:href="../icons/bookmark.png"/>
					<entryType>PushButton</entryType>
				</ToolBarEntry>
				<ToolBarEntry>
					<ns2:identifier>
						<ns2:value>Bookmark_add_TB</ns2:value>
					</ns2:identifier>
					<name/>
					<tooltip>$Bookmark.add.tooltip</tooltip>
					<assignedAction>addBookmark</assignedAction>
					<icon ns3:href="../icons/bookmark_add.png"/>
					<entryType>PushButton</entryType>
				</ToolBarEntry>
				<ns4:HelpContext>
					<ns4:page mainPage="true">
						<ns2:OnlineResource ns3:href="./help/bookmarks/bookmark.de.html"/>
						<ns4:keyword>Lesezeichen: anlegen/bearbeiten</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
			</Module>
		</ModuleRegister>
		<ModuleRegister>
			<SplitterPosition>
				<splitterPosition>left</splitterPosition>
			</SplitterPosition>
			<ModuleGroup>
				<name>ModuleGrp</name>
				<ns2:identifier>
					<ns2:value>ModuleGrpId</ns2:value>
				</ns2:identifier>
				<className>org.deegree.desktop.modules.DefaultModuleGroup
				</className>
				<ViewForm>
					<PaneViewForm>
						<containerClass viewPlatform="Application">
							org.deegree.desktop.views.swing.DefaultGroupPanel
                        </containerClass>
						<ComponentState modal="false" active="true">
							<windowState>normal</windowState>
						</ComponentState>
						<paneTitle>$F5.FrameTitle</paneTitle>
					</PaneViewForm>
					<Layout>
						<TabLayout/>
					</Layout>
				</ViewForm>
				<ModuleRegister>
					<HeaderPosition>
						<headerPosition>10</headerPosition>
					</HeaderPosition>
					<Module>
						<name>Maßstab</name>
						<ns2:identifier>
							<ns2:value>ScaleModuleId</ns2:value>
						</ns2:identifier>
						<className>org.deegree.desktop.modules.DefaultModule</className>
						<ViewForm>
							<PaneViewForm>
								<containerClass viewPlatform="Application">
									org.deegree.desktop.views.swing.ScaleSelectionPanel
                                </containerClass>
								<ComponentState modal="false" active="true">
									<windowState>normal</windowState>
								</ComponentState>
								<paneTitle>$F5.FrameTitle</paneTitle>
							</PaneViewForm>
							<Layout>
								<NoneLayout/>
							</Layout>
						</ViewForm>
						<init-param>
							<name>scales</name>
							<value>100000, 250000, 500000, 1000000, 5000000, 10000000</value>
						</init-param>
					</Module>
				</ModuleRegister>
				<!--ImageViewer-->
				<ModuleRegister>
				  <AbsolutePosition>
					<Window left="650" top="50" width="600" height="500"/>
				  </AbsolutePosition>
				  <ModuleReference>
					<ns2:OnlineResource ns3:href="open_imageviewer.mdx"/>
				  </ModuleReference>
				</ModuleRegister>
				<ModuleRegister>
					<FooterPosition>
						<footerPosition>1</footerPosition>
					</FooterPosition>
					<Module>
						<name>Measuring</name>
						<ns2:identifier>
							<ns2:value>M1</ns2:value>
						</ns2:identifier>
						<className>org.deegree.desktop.modules.MeasureModule</className>
						<ViewForm>
							<PaneViewForm>
								<containerClass viewPlatform="Application">
									org.deegree.desktop.views.swing.measure.MeasureFooterPanel
                                </containerClass>
								<ComponentState modal="false" active="false">
									<windowState>normal</windowState>
								</ComponentState>
								<paneTitle>$M1.PaneTitle</paneTitle>
							</PaneViewForm>
							<Layout>
								<NoneLayout/>
							</Layout>
						</ViewForm>
						<Menu>
							<ns2:identifier>
								<ns2:value>MeasureMB7</ns2:value>
							</ns2:identifier>
							<parent>
								<ns2:value>MB1tools</ns2:value>
							</parent>
							<name/>
							<MenuItem>
								<name>$MD.name</name>
								<assignedAction>measureDistance</assignedAction>
								<icon ns3:href="../icons/ruler.png"/>
							</MenuItem>
							<MenuItem>
								<name>$MA.name</name>
								<assignedAction>measureArea</assignedAction>
								<icon ns3:href="../icons/measure_areas.png"/>
							</MenuItem>
						</Menu>
					</Module>
				</ModuleRegister>
				<ModuleRegister>
					<TabPosition>
						<tabPosition>1</tabPosition>
					</TabPosition>
					<Module>
						<name>Ebenen Ansicht</name>
						<ns2:identifier>
							<ns2:value>LayerTreeId</ns2:value>
						</ns2:identifier>
						<className>org.deegree.desktop.modules.LayerListTreeViewModule
						</className>
						<ViewForm>
							<PaneViewForm>
								<containerClass viewPlatform="Application">
									org.deegree.desktop.views.swing.layerlist.LayerTreePanel
                                </containerClass>
								<ComponentState modal="false" active="true">
									<windowState>normal</windowState>
								</ComponentState>
								<paneTitle>$F5.FrameTitle</paneTitle>
							</PaneViewForm>
							<Layout>
								<NoneLayout/>
							</Layout>
						</ViewForm>
						<PopUpEntry assignedGroup="LLTreeView">
							<ns2:identifier>
								<ns2:value>LLTV1</ns2:value>
							</ns2:identifier>
							<name>$removeLayer.name</name>
							<assignedAction>removeLayer</assignedAction>
							<icon ns3:href="../icons/removelayer.png"/>
						</PopUpEntry>
						<PopUpEntry>
							<ns2:identifier>
								<ns2:value>LLTV5</ns2:value>
							</ns2:identifier>
							<name>$addLayerGroup.name</name>
							<assignedAction>addLayerGroup</assignedAction>
							<icon ns3:href="../icons/s_add_layergroup.png"/>
						</PopUpEntry>
						<PopUpEntry>
							<ns2:identifier>
								<ns2:value>LLTV6</ns2:value>
							</ns2:identifier>
							<name>$rename</name>
							<assignedAction>rename</assignedAction>
							<icon ns3:href="../icons/rename.png"/>
						</PopUpEntry>
						<PopUpEntry>
							<ns2:identifier>
								<ns2:value>ExpLayerPU</ns2:value>
							</ns2:identifier>
							<name>$ExportLayer</name>
							<assignedAction>$module:MapModule#exportLayer</assignedAction>
							<icon ns3:href="../icons/export_layer.png"/>
						</PopUpEntry>
						<PopUpEntry>
							<ns2:identifier>
								<ns2:value>LLTV4</ns2:value>
							</ns2:identifier>
							<name>$layerInfo.name</name>
							<assignedAction>layerInfo</assignedAction>
							<icon ns3:href="../icons/s_layerinfo.png"/>
						</PopUpEntry>
						<PopUpEntry>
							<ns2:identifier>
								<ns2:value>LayerInfoMB_1</ns2:value>
							</ns2:identifier>
							<name>$LayerInfo</name>
							<assignedAction>$module:LayerInfo#open</assignedAction>
							<icon ns3:href="../icons/table.png"/>
						</PopUpEntry>
						<PopUpEntry>
							<ns2:identifier>
								<ns2:value>EditStyle_Open_TB1</ns2:value>
							</ns2:identifier>
							<name>$EditStyle.name</name>
							<assignedAction>$module:EditStyle#editStyle</assignedAction>
							<icon ns3:href="../icons/palette.png"/>
						</PopUpEntry>
						<PopUpEntry>
							<ns2:identifier>
								<ns2:value>LLTV3</ns2:value>
							</ns2:identifier>
							<name>$setEditing.name</name>
							<assignedAction>setEditing</assignedAction>
						</PopUpEntry>
					</Module>
				</ModuleRegister>
				<ModuleRegister>
					<TabPosition>
						<tabPosition>2</tabPosition>
					</TabPosition>
					<Module>
						<name>Legende</name>
						<ns2:identifier>
							<ns2:value>LegendViewId</ns2:value>
						</ns2:identifier>
						<className>org.deegree.desktop.modules.DefaultModule</className>
						<ViewForm>
							<PaneViewForm>
								<containerClass viewPlatform="Application">org.deegree.desktop.views.swing.legend.LegendPanel
								</containerClass>
								<ComponentState modal="false" active="true">
									<windowState>normal</windowState>
								</ComponentState>
								<paneTitle>$F5.FrameTitle</paneTitle>
							</PaneViewForm>
							<Layout>
								<NoneLayout/>
							</Layout>
						</ViewForm>
						<PopUpEntry>
							<ns2:identifier>
								<ns2:value>PUexportLegend</ns2:value>
							</ns2:identifier>
							<name>$exportLegend</name>
							<assignedAction>exportAsImage</assignedAction>
							<icon ns3:href="../icons/legend_export.png"/>
						</PopUpEntry>
						<PopUpEntry>
							<ns2:identifier>
								<ns2:value>PUexportLegend</ns2:value>
							</ns2:identifier>
							<name>$copyLegend</name>
							<assignedAction>exportToClipBoard</assignedAction>
							<icon ns3:href="../icons/legend_copy.png"/>
						</PopUpEntry>
					</Module>
				</ModuleRegister>
			</ModuleGroup>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="364" height="390" top="252" left="535"/>
			</AbsolutePosition>
			<Module>
				<name>Print</name>
				<ns2:identifier>
					<ns2:value>PrintID</ns2:value>
				</ns2:identifier>
				<className>org.deegree.desktop.modules.PrintModule</className>
				<ViewForm>
					<FrameViewForm>
						<containerClass viewPlatform="Application">org.deegree.desktop.views.swing.print.PrintWizard</containerClass>
						<ComponentState modal="true" active="true">
							<windowState>closed</windowState>
						</ComponentState>
						<frameTitle>$MD10348</frameTitle>
					</FrameViewForm>
				</ViewForm>
				<Menu>
					<ns2:identifier>
						<ns2:value>printmodule</ns2:value>
					</ns2:identifier>
					<parent>
						<ns2:value>MB1</ns2:value>
					</parent>
					<name>$MB1.name</name>
					<MenuItem>
						<name>$MD10348</name>
						<tooltip>$MD10348</tooltip>
						<assignedAction>print</assignedAction>
						<icon ns3:href="../icons/s_pdf.png"/>
					</MenuItem>
					<MenuItem>
	                      <name>$MD10348a</name>
	                      <tooltip>$MD10348a</tooltip>
	                      <assignedAction>directPrint</assignedAction>
	                      <icon ns3:href="../icons/s_printer.png"/>
                    </MenuItem>
				</Menu>
				<init-param>
					<name>templates</name>
					<value>
                        Hochformat; ../jaspertemplates/report1.jrxml; ../jaspertemplates/hochformat.jpg, 
                        Querformat; ../jaspertemplates/super.jrxml; ../jaspertemplates/querformat.jpg
                    </value>
				</init-param>
				<init-param>
					<name>noTemplateImage</name>
					<value>../jaspertemplates/noimage.jpg</value>
				</init-param>
				<init-param>
					<name>ireportLocation</name>
					<value>../../../../iReport-3.0.0/</value>
				</init-param>
				<init-param>
					<name>dpi</name>
					<value>400</value>
				</init-param>
			</Module>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="270" height="600" top="295" left="446"/>
			</AbsolutePosition>
			<Module>
				<name>AddLayer</name>
				<ns2:identifier>
					<ns2:value>AddLayerId</ns2:value>
				</ns2:identifier>
				<className>org.deegree.desktop.modules.AddLayerModule</className>
				<ViewForm>
					<FrameViewForm resizeable="true">
						<containerClass viewPlatform="Application">
							org.deegree.desktop.views.swing.addlayer.AddLayerFrame
                        </containerClass>
						<ComponentState modal="false" active="false">
							<windowState>closed</windowState>
						</ComponentState>
						<frameTitle>$AddLayer.FrameTitle</frameTitle>
					</FrameViewForm>
					<Layout>
						<NoneLayout/>
					</Layout>
				</ViewForm>
				<Menu>
					<ns2:identifier>
						<ns2:value>MM1_MB001</ns2:value>
					</ns2:identifier>
					<parent>
						<ns2:value>MM1_MB0</ns2:value>
					</parent>
					<name>$AddLayer.menu.name</name>
					<mnemonic>a</mnemonic>
					<MenuItem>
						<name>$OpenFile.item.name</name>
						<assignedAction>openFile</assignedAction>
						<icon ns3:href="../icons/s_openFile.png"/>
						<mnemonic>f</mnemonic>
						<accelerator>
							<mnemonic>f</mnemonic>
							<mask>ALT</mask>
						</accelerator>
					</MenuItem>
				</Menu>
				<ToolBarEntry>
					<ns2:identifier>
						<ns2:value>AddLayer_Open_TB</ns2:value>
					</ns2:identifier>
					<name/>
					<tooltip>$AddNewLayer</tooltip>
					<assignedAction>addLayer</assignedAction>
					<icon ns3:href="../icons/addLayer.png"/>
					<entryType>PushButton</entryType>
				</ToolBarEntry>
				<ns4:HelpContext>
							<ns4:page mainPage="true">
								<ns2:OnlineResource ns3:href="./help/addlayer/add_layer_raster.de.html"/>
								<ns4:keyword>Ebene hinzufügen: Rasterdaten</ns4:keyword>
							</ns4:page>
						</ns4:HelpContext>
						<ns4:HelpContext>
							<ns4:page>
								<ns2:OnlineResource ns3:href="./help/addlayer/add_layer_vector.de.html"/>
								<ns4:keyword>Ebene hinzufügen: Vektordaten</ns4:keyword>
							</ns4:page>
						</ns4:HelpContext>
						<ns4:HelpContext>
							<ns4:page>
								<ns2:OnlineResource ns3:href="./help/addlayer/import_gps.de.html"/>
								<ns4:keyword>Ebene hinzufügen: GPS-Daten</ns4:keyword>
							</ns4:page>
						</ns4:HelpContext>
				<init-param>
					<name>knownWMS</name>
					<value>
						demo deegree wms: http://demo.deegree.org/deegree-wms/services,another wms: http://another.de/wms,localhost: http://localhost:8080/deegree-wms/services
                    </value>
				</init-param>
				<init-param>
					<name>WMSversions</name>
					<value>1.0.0,1.1.0,1.1.1</value>
				</init-param>
				<init-param>
					<name>knownWFS</name>
					<value>demo deegree wfs: http://demo.deegree.org/deegree-wfs/services</value>
				</init-param>
				<init-param>
					<name>knownWCS</name>
					<value>demo deegree wcs: http://demo.deegree.org/deegree-wcs/services</value>
				</init-param>
			</Module>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="200" height="400" top="200" left="200"/>
			</AbsolutePosition>
			<Module>
				<name>Digitizer</name>
				<ns2:identifier>
					<ns2:value>D1</ns2:value>
				</ns2:identifier>
				<className>org.deegree.desktop.modules.DigitizerModule</className>
				<ViewForm>
					<FrameViewForm>
						<containerClass viewPlatform="Application">org.deegree.desktop.views.swing.digitize.DefaultDigitizerFrame
						</containerClass>
						<ComponentState modal="false" active="false">
							<windowState>closed</windowState>
						</ComponentState>
						<frameTitle>$D1.FrameTitle</frameTitle>
					</FrameViewForm>
					<Layout>
						<NoneLayout/>
					</Layout>
				</ViewForm>
				<ToolBarEntry>
					<ns2:identifier>
						<ns2:value>MB38</ns2:value>
					</ns2:identifier>
					<tooltip>$openEditPanel.tooltip</tooltip>
					<assignedAction>open</assignedAction>
					<icon ns3:href="../icons/digitizer.png"/>
					<entryType>PushButton</entryType>
				</ToolBarEntry>
				<ns4:HelpContext>
					<ns4:page mainPage="true">
						<ns2:OnlineResource ns3:href="./help/digitizer/digitizer.de.html"/>
						<ns4:keyword>Digitalisierung: allgemein</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
				<ns4:HelpContext>
					<ns4:page>
						<ns2:OnlineResource ns3:href="./help/digitizer/digitizer_create.de.html"/>
						<ns4:keyword>Digitalisierung: Objekte neu erstellen</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
				<ns4:HelpContext>
					<ns4:page>
						<ns2:OnlineResource ns3:href="./help/digitizer/digitizer_edit.de.html"/>
						<ns4:keyword>Digitalisierung: Objekte bearbeiten</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
				<ns4:HelpContext>
					<ns4:page>
						<ns2:OnlineResource ns3:href="./help/digitizer/digitizer_snapping.de.html"/>
						<ns4:keyword>Digitalisierung: Fang-Radius angeben</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
				<ns4:HelpContext>
					<ns4:page>
						<ns2:OnlineResource ns3:href="./help/digitizer/digitizer_validierung.de.html"/>
						<ns4:keyword>Digitalisierung: Validierung</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
				<init-param>
					<name>mapModule</name>
					<value>F2</value>
				</init-param>
			</Module>
		</ModuleRegister>
		
<!--ModuleRegister>
			<AbsolutePosition>
				<Window width="420" height="590" top="300" left="245"/>
			</AbsolutePosition>
			<Module>
				<name>EditStyle</name>
				<ns2:identifier>
					<ns2:value>EditStyleId</ns2:value>
				</ns2:identifier>
				<className>org.deegree.desktop.modules.EditStyleModule</className>
				<ViewForm>
					<FrameViewForm resizeable="false">
						<containerClass viewPlatform="Application">org.deegree.desktop.views.swing.style.RuleDialog</containerClass>
						<ComponentState modal="true" active="false">
							<windowState>closed</windowState>
						</ComponentState>
						<frameTitle>$editStyle.FrameTitle</frameTitle>
					</FrameViewForm>
					<Layout>
						<NoneLayout/>
					</Layout>
				</ViewForm>
				<Menu>
					<ns2:identifier>
						<ns2:value>EditStyleMB</ns2:value>
					</ns2:identifier>
					<parent>
						<ns2:value>MB1tools</ns2:value>
					</parent>
					<name/>
					<MenuItem>
						<name>$EditStyle.name</name>
						<assignedAction>editStyle</assignedAction>
						<icon ns3:href="../icons/s_palette.png"/>
					</MenuItem>
				</Menu>
				<ToolBarEntry>
					<ns2:identifier>
						<ns2:value>EditStyle_Open_TB</ns2:value>
					</ns2:identifier>
					<tooltip>$editStyle.tooltip</tooltip>
					<assignedAction>editStyle</assignedAction>
					<icon ns3:href="../icons/palette.png"/>
					<entryType>PushButton</entryType>
				</ToolBarEntry>
				<ns4:HelpContext>
					<ns4:page mainPage="true">
						<ns2:OnlineResource ns3:href="./help/style_editor/edit_layer.de.html"/>
						<ns4:keyword>Darstellung bearbeiten</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
				<ns4:HelpContext>
					<ns4:page mainPage="true">
						<ns2:OnlineResource ns3:href="./help/style_editor/edit_layer_colorschema.de.html"/>
						<ns4:keyword>Farben ändern (HSB, RGB)</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
				<ns4:HelpContext>
					<ns4:page mainPage="true">
						<ns2:OnlineResource ns3:href="./help/style_editor/edit_layer_klassification.de.html"/>
						<ns4:keyword>Klassifizierung</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
				<ns4:HelpContext>
					<ns4:page mainPage="true">
						<ns2:OnlineResource ns3:href="./help/style_editor/edit_layer_settings.de.html"/>
						<ns4:keyword>Vorlagen, Regeln, Style´s</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
				<ns4:HelpContext>
					<ns4:page mainPage="true">
						<ns2:OnlineResource ns3:href="./help/style_editor/edit_layer_color.de.html"/>
						<ns4:keyword>Farbrampen</ns4:keyword>
					</ns4:page>
				</ns4:HelpContext>
			</Module>
		</ModuleRegister-->		
		
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="460" height="630" top="265" left="304"/>
			</AbsolutePosition>
			<ModuleReference>
				<ns2:OnlineResource ns3:href="./style_module.mdx"/>
			</ModuleReference>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="798" height="400" top="250" left="270"/>
			</AbsolutePosition>
			<Module>
				<name>LayerInfo</name>
				<ns2:identifier>
					<ns2:value>LayerInfoId</ns2:value>
				</ns2:identifier>
				<className>org.deegree.desktop.modules.LayerInfoModule</className>
				<ViewForm>
					<FrameViewForm resizeable="true">
						<containerClass viewPlatform="Application">org.deegree.desktop.views.swing.objectinfo.LayerInfoFrame</containerClass>
						<ComponentState modal="false" active="false">
							<windowState>closed</windowState>
						</ComponentState>
						<frameTitle>$F5.FrameTitle</frameTitle>
					</FrameViewForm>
					<Layout>
						<NoneLayout/>
					</Layout>
				</ViewForm>
				<Menu>
					<ns2:identifier>
						<ns2:value>LayerInfoMB</ns2:value>
					</ns2:identifier>
					<parent>
						<ns2:value>MB1view</ns2:value>
					</parent>
					<name/>
					<MenuItem>
						<name>$LayerInfo</name>
						<assignedAction>open</assignedAction>
						<icon ns3:href="../icons/table.png"/>
					</MenuItem>
				</Menu>
				<ToolBarEntry>
					<ns2:identifier>
						<ns2:value>OpenLayerInfo</ns2:value>
					</ns2:identifier>
					<name/>
					<tooltip>$OpenLayerInfo.tooltip</tooltip>
					<assignedAction>open</assignedAction>
					<icon ns3:href="../icons/table.png"/>
					<entryType>PushButton</entryType>
				</ToolBarEntry>
			</Module>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window width="500" height="600" top="100" left="100"/>
			</AbsolutePosition>
			<Module>
				<name>WebServerModule</name>
				<ns2:identifier>
					<ns2:value>WebServerModuleID</ns2:value>
				</ns2:identifier>
				<className>org.deegree.desktop.modules.remotecontrol.WebServerModule</className>
				<ViewForm>
					<FrameViewForm resizeable="true">
						<containerClass viewPlatform="Application">
							org.deegree.desktop.views.swing.addlayer.DefaultPanel
                        </containerClass>
						<ComponentState modal="false" active="true">
							<windowState>closed</windowState>
						</ComponentState>
						<frameTitle>$WebServerModule</frameTitle>
					</FrameViewForm>
					<Layout>
						<NoneLayout/>
					</Layout>
				</ViewForm>
				<ToolBarEntry>
					<ns2:identifier>
						<ns2:value>WebServerStart</ns2:value>
					</ns2:identifier>
					<tooltip>$WebServerStart</tooltip>
					<assignedAction>start</assignedAction>
					<icon ns3:href="../icons/server_start.png"/>
					<entryType>PushButton</entryType>
				</ToolBarEntry>
				<ToolBarEntry>
					<ns2:identifier>
						<ns2:value>WebServerStop</ns2:value>
					</ns2:identifier>
					<tooltip>$WebServerStop</tooltip>
					<assignedAction>stop</assignedAction>
					<icon ns3:href="../icons/server_stop.png"/>
					<entryType>PushButton</entryType>
				</ToolBarEntry>
				<init-param>
					<name>port</name>
					<value>8888</value>
				</init-param>
				<init-param>
					<name>setBBOX</name>
					<value>org.deegree.desktop.modules.remotecontrol.SetBBOXHandler</value>
				</init-param>
				<init-param>
					<name>selectFeatures</name>
					<value>org.deegree.desktop.modules.remotecontrol.SelectFeatureHandler</value>
				</init-param>
			</Module>
		</ModuleRegister>
		<ModuleRegister>
			<AbsolutePosition>
				<Window left="650" top="50" width="600" height="500"/>
			</AbsolutePosition>
			<ModuleReference>
				<ns2:OnlineResource ns3:href="./external_program.mdx"/>
			</ModuleReference>
		</ModuleRegister>
		<MenuBar>
			<Menu>
				<ns2:identifier>
					<ns2:value>MB1</ns2:value>
				</ns2:identifier>
				<name>$MB1.name</name>
				<mnemonic>p</mnemonic>
				<MenuItem>
					<name>$MB03.name</name>
					<assignedAction>newproject</assignedAction>
					<icon ns3:href="../icons/s_newProjectOpen.png"/>
					<mnemonic>n</mnemonic>
					<accelerator>
						<mnemonic>n</mnemonic>
						<mask>CTRL</mask>
					</accelerator>
				</MenuItem>
				<MenuItem>
					<name>$MB0.name</name>
					<assignedAction>open</assignedAction>
					<icon ns3:href="../icons/s_projectOpen.png"/>
					<mnemonic>o</mnemonic>
					<accelerator>
						<mnemonic>o</mnemonic>
						<mask>CTRL</mask>
					</accelerator>
				</MenuItem>
				<MenuItem>
					<name>$MB01.name</name>
					<assignedAction>save</assignedAction>
					<icon ns3:href="../icons/s_save.png"/>
					<mnemonic>s</mnemonic>
					<accelerator>
						<mnemonic>s</mnemonic>
						<mask>CTRL</mask>
					</accelerator>
				</MenuItem>
				<MenuItem>
					<name>$MB02.name</name>
					<assignedAction>saveas</assignedAction>
					<icon ns3:href="../icons/s_save_as.png"/>
					<mnemonic>a</mnemonic>
				</MenuItem>
			</Menu>
			<Menu>
				<ns2:identifier>
					<ns2:value>MB1edit</ns2:value>
				</ns2:identifier>
				<name>$MB1edit.name</name>
				<mnemonic>e</mnemonic>
				<MenuItem>
					<name>$MB12.name</name>
					<assignedAction>undo</assignedAction>
					<icon ns3:href="../icons/undo.png"/>
					<mnemonic>u</mnemonic>
					<accelerator>
						<mnemonic>z</mnemonic>
						<mask>CTRL</mask>
					</accelerator>
				</MenuItem>
				<MenuItem>
					<name>$MB13.name</name>
					<assignedAction>redo</assignedAction>
					<icon ns3:href="../icons/redo.png"/>
					<mnemonic>r</mnemonic>
					<accelerator>
						<mnemonic>y</mnemonic>
						<mask>CTRL</mask>
					</accelerator>
				</MenuItem>
			</Menu>
			<Menu>
				<ns2:identifier>
					<ns2:value>MB1tools</ns2:value>
				</ns2:identifier>
				<name>$MB1tools.name</name>
				<MenuItem>
					<name/>
					<assignedAction/>
				</MenuItem>
			</Menu>
		</MenuBar>
		<ToolBar useRollover="true" floatable="true">
			<ToolBarEntry assignedGroup="TBProjectGroup">
				<ns2:identifier>
					<ns2:value>openMM</ns2:value>
				</ns2:identifier>
				<name/>
				<tooltip>$openMM</tooltip>
				<assignedAction>openMapModel</assignedAction>
				<icon ns3:href="../icons/mapwindow_open.png"/>
				<entryType>PushButton</entryType>
			</ToolBarEntry>
			<ToolBarEntry assignedGroup="TBProjectGroup">
				<ns2:identifier>
					<ns2:value>addMM</ns2:value>
				</ns2:identifier>
				<name/>
				<tooltip>$addMM</tooltip>
				<assignedAction>addMapModel</assignedAction>
				<icon ns3:href="../icons/mapwindow_add.png"/>
				<entryType>PushButton</entryType>
			</ToolBarEntry>
			<ToolBarEntry assignedGroup="TBProjectGroup">
				<ns2:identifier>
					<ns2:value>removeMM</ns2:value>
				</ns2:identifier>
				<name/>
				<tooltip>$removeMM</tooltip>
				<assignedAction>removeMapModel</assignedAction>
				<icon ns3:href="../icons/mapwindow_delete.png"/>
				<entryType>PushButton</entryType>
			</ToolBarEntry>
			<ToolBarEntry assignedGroup="TBProjectGroup">
				<ns2:identifier>
					<ns2:value>syncMM</ns2:value>
				</ns2:identifier>
				<name/>
				<tooltip>$synchronizeMapModels.tooltip</tooltip>
				<assignedAction>$module:MapModule#synchronizeMapModels</assignedAction>
				<icon ns3:href="../icons/synchronize_maps.png"/>
				<entryType>PushButton</entryType>
			</ToolBarEntry>
		</ToolBar>
	</View>
	<Settings>
		<ns4:MapHandling>
			<ns4:zoomLevel>25</ns4:zoomLevel>
			<ns4:panLevel>25</ns4:panLevel>
		</ns4:MapHandling>
		<ns4:DataAdapter>
			<ns4:WFSFeatureAdapter>
				<ns4:CapabilitiesEvaluator val="org.deegree.desktop.dataadapter.WFS110CapabilitiesEvaluator"/>
				<ns4:Timeout val="10000"/>
				<ns4:MaxFeature val="5000"/>
				<ns4:DataLoader val="org.deegree.desktop.dataadapter.WFS110DataLoader"/>
			</ns4:WFSFeatureAdapter>
		</ns4:DataAdapter>
		<ns4:ProjectTemplates>
			<ns4:Template desc="project with pane layout" file="src/main/data/resources/templates/default" name="pane layout"/>
            <ns4:Template desc="project with innerframe layout" file="src/main/data/resources/templates/empty_innerframelayout" name="innerframe layout"/>
	        <ns4:Template  desc="project with frame layout" file="src/main/data/resources/templates/frame_layout" name="frame layout"/>	
        </ns4:ProjectTemplates>
		<ns4:FileFilter>
			<ns4:Format desc="georeferenced jpeg image" extension="jpg" name="JPEG image"/>
			<ns4:Format desc="georeferenced jpeg image" extension="jpeg" name="JPEG image"/>
			<ns4:Format desc="georeferenced bmp image" extension="bmp" name="bitmap image"/>
			<ns4:Format desc="georeferenced gif image" extension="gif" name="GIF image"/>
			<ns4:Format desc="georeferenced png image" extension="png" name="PNG image"/>
			<ns4:Format desc="georeferenced tif image" extension="tif" name="TIFF image"/>
			<ns4:Format desc="georeferenced tif image" extension="tiff" name="TIFF image"/>
			<ns4:Format isVector="true" desc="ESRI Shape File" extension="shp" name="shape file"/>
			<ns4:Format isVector="true" desc="GML 2 or 3.1 file" extension="gml" name="GML file"/>
			<ns4:Format isVector="true" desc="GML 2 or 3.1 file" extension="xml" name="XML file"/>
		</ns4:FileFilter>
		<ns4:HelpPage changeable="true">
			<ns4:HelpContext>
				<ns4:page>
					<ns2:OnlineResource ns3:href="./help/projects/projects.de.html"/>
					<ns4:keyword>Projekt: allgemein</ns4:keyword>
				</ns4:page>
			</ns4:HelpContext>
			<ns4:HelpContext>
				<ns4:page>
					<ns2:OnlineResource ns3:href="./help/projects/project_new.de.html"/>
					<ns4:keyword>Projekt: neu anlegen</ns4:keyword>
				</ns4:page>
			</ns4:HelpContext>
			<ns4:HelpContext>
				<ns4:page>
					<ns2:OnlineResource ns3:href="./help/projects/project_open.de.html"/>
					<ns4:keyword>Projekt: öffnen</ns4:keyword>
				</ns4:page>
			</ns4:HelpContext>
			<ns4:HelpContext>
				<ns4:page>
					<ns2:OnlineResource ns3:href="./help/projects/project_save.de.html"/>
					<ns4:keyword>Projekt: speichern</ns4:keyword>
				</ns4:page>
			</ns4:HelpContext>
		</ns4:HelpPage>
		<ns4:Clipboard maxObjects="1000" format="text/xml; subtype=gml/3.1.1"/>
		<ns4:Graphics>
			<ns4:ColorSchemes name="Blau">
				<ns4:Colorlist>
					<ns4:ColorListEntry>
						<ns4:position>0.0</ns4:position>
						<ns4:color>#ffffff</ns4:color>
					</ns4:ColorListEntry>
					<ns4:ColorListEntry>
						<ns4:position>1.0</ns4:position>
						<ns4:color>#1D42EF</ns4:color>
					</ns4:ColorListEntry>
				</ns4:Colorlist>
			</ns4:ColorSchemes>
			<ns4:ColorSchemes name="SchwarzRot">
				<ns4:Colorlist>
					<ns4:ColorListEntry>
						<ns4:position>0.0</ns4:position>
						<ns4:color>#ff3333</ns4:color>
					</ns4:ColorListEntry>
					<ns4:ColorListEntry>
						<ns4:position>1.0</ns4:position>
						<ns4:color>#000000</ns4:color>
					</ns4:ColorListEntry>
				</ns4:Colorlist>
			</ns4:ColorSchemes>
			<ns4:ColorSchemes name="deegree">
				<ns4:Colorlist>
					<ns4:ColorListEntry>
						<ns4:position>0.0</ns4:position>
						<ns4:color>#000000</ns4:color>
					</ns4:ColorListEntry>
					<ns4:ColorListEntry>
						<ns4:position>1.0</ns4:position>
						<ns4:color>#FE5215</ns4:color>
					</ns4:ColorListEntry>
				</ns4:Colorlist>
			</ns4:ColorSchemes>
		</ns4:Graphics>
		<ns4:Security>
			<ns4:Authentication default="true">
				<ns4:method>org.deegree.desktop.commands.UserAuthenticationCommand</ns4:method>
				<ns4:AuthenticationServer>http://localhost:8080/authentication/authentication</ns4:AuthenticationServer>
			</ns4:Authentication>
		</ns4:Security>
		<ns4:Formats changeable="true">
			<ns4:Format pattern="##.000" name="number"/>
			<ns4:Format pattern="dd.mm.yyyy" name="datePattern"/>
			<ns4:Format pattern="#0.###" name="decimalPattern"/>
		</ns4:Formats>
		<ns4:FileAccess changeable="true"/>
	</Settings>
	<ns2:MapModelCollection>
		<ns2:name>TestMMC</ns2:name>
		<ns2:maxExtent crs="EPSG:26912" maxy="4653798.05" maxx="664791.803125" miny="4107118.55" minx="252400.003125"/>
		<ns2:externalResource>
			<ns2:OnlineResource ns3:href="./docs/deegree_client_portal_specification.odt"/>
			<ns2:abstract>
				According to changed requirements to thin and thick geospatial clients in following document a new
				concept for deegree's implementation of portal and client functionality will be developed. One basic
				decision is to brake with current implementation of iGeoPortal standard and portlet edition and not to
				use classes, JavaScript objects, HTML-pages and JSPs anymore. The same is true for further usage of
				moduls developed by lat/lon for OpenJUMP (deeJUMP).
            </ns2:abstract>
			<ns2:externalResourceTitle>deegree client and portal concept and specification</ns2:externalResourceTitle>
			<ns2:externalResourceType>Open Office document</ns2:externalResourceType>
		</ns2:externalResource>
		<ns2:mapModel current="true">
			<ns2:name>TestMM</ns2:name>
			<ns2:identifier>
				<ns2:value>MM1</ns2:value>
			</ns2:identifier>
			<ns2:targetDevice>
				<ns2:pixelWidth>715</ns2:pixelWidth>
				<ns2:pixelHeight>709</ns2:pixelHeight>
				<ns2:dpi>96</ns2:dpi>
			</ns2:targetDevice>
			<ns2:supportedCRS>
				<ns2:CRS>
					<ns2:name>UTAH/NAD</ns2:name>
					<ns2:code>EPSG:26912</ns2:code>
				</ns2:CRS>
				<ns2:CRS>
					<ns2:name>WGS84 Geographic</ns2:name>
					<ns2:code>EPSG:4326</ns2:code>
				</ns2:CRS>
				<ns2:CRS>
					<ns2:name>Bayern</ns2:name>
					<ns2:code>EPSG:31468</ns2:code>
				</ns2:CRS>
			</ns2:supportedCRS>
			<ns2:extent crs="EPSG:26912" maxy="4653798.05" maxx="734248.824493124" miny="4107118.55" minx="182942.98175687587"/>
			<ns2:maxExtent crs="EPSG:26912" maxy="4653798.05" maxx="664791.803125" miny="4107118.55" minx="252400.003125"/>
			<ns2:layerGroup>
				<ns2:identifier>
					<ns2:value>empty Layergroup</ns2:value>
				</ns2:identifier>
				<ns2:title>Root</ns2:title>
				<ns2:selectedFor>action</ns2:selectedFor>
			</ns2:layerGroup>
			<ns2:description/>
		</ns2:mapModel>
	</ns2:MapModelCollection>
</Project>
